pipeline/Copy CloudStreaming from AzureSQL.json
{
	"name": "Copy CloudStreaming from AzureSQL",
	"properties": {
		"activities": [
			{
				"name": "ForEach_8ny",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_8ny",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup last watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "sr-blob-container-dev/raw/cloud-streaming/@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select *\nfrom ', item().source.table, ' \nwhere updateddate > ''', activity('Lookup last watermark').output.firstRow.watermarkValue,'''\nand updateddate <= ''', pipeline().parameters.new_watermark, '''')",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_8ny",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_8ny",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": {
											"value": "@concat(utcNow(), '-', item().destination.fileName)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup last watermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select WatermarkValue \nfrom watermarktable \nwhere TableName = ''', item().source.table,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SourceDataset_8ny",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Update watermark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy_8ny",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "CloudStreamingDB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update watermarkTable set WatermarkValue = ''', pipeline().parameters.new_watermark,''' where TableName = ''', item().source.table, '''')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"table": "Addresses"
						},
						"destination": {
							"fileName": "dboAddresses"
						}
					},
					{
						"source": {
							"table": "Customers"
						},
						"destination": {
							"fileName": "dboCustomers"
						}
					},
					{
						"source": {
							"table": "Transactions"
						},
						"destination": {
							"fileName": "dboTransactions"
						}
					}
				]
			},
			"new_watermark": {
				"type": "string"
			}
		},
		"annotations": []
	}
}